.main, .css-145kmo2, .st-bm, .st-bp, .st-bn, .edgvbvh1, .css-r2zp1w, .css-3xqji8   {
    background: black !important;
    color: white !important;
}

.css-1b32pqr {
    color: #0031ff !important;
}



/* .edgvbvh1, .css-r2zp1w  {
    color: white !important;
    background: black !important;
} */
